<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>404 Not Found</title>
    <style >
        .body {
            width: 50%;
            padding: 300px 0;
            text-align: center;
            margin: auto;
        }
    </style>
</head>
<body>
<!-- start -->
<div>
    <div class="body">
        <h1>Sorry, this page is not found.</h1>
        <h2><a href="{{url_for('home.index',page=1)}}">Go To Main Page</a></h2>
    </div>
</div>
<!-- end -->
</body>
</html>