{% extends "admin/admin.html" %}
{% import "ui/admin_page.html" as pg %}

{% block content %}
<section class="content-header">
    <h1>GitFlix Admin Management System</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Movie Collection Management</a></li>
        <li class="active">Collection List</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Collection List</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right"
                                   placeholder="Type in a keyword...">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Success </h4>
                        {{ msg }}
                    </div>
                    {% endfor %}
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <th>Movie</th>
                            <th>User</th>
                            <th>Add Time</th>
                            <th>Action</th>
                        </tr>
                        {% for v in page_data.items %}
                        <tr>
                            <td>{{ v.id }}</td>
                            <td>{{ v.movie.title }}</td>
                            <td>{{ v.user.name }}</td>
                            <td>{{ v.addtime }}</td>
                            <td>
                                <a class="label label-danger"
                                   href="{{url_for('admin.moviecol_del', id=v.id)}}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {{ pg.pagination(page_data, 'admin.moviecol_list') }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $("#g-7").addClass("active");
        $("#g-7-1").addClass("active");
    });


</script>
{% endblock %}